
// Write your custom style. Feel free to split your code to several files
body {
  //color: blue;
}

a.hover-line {
  transition: all 0.2s ease-in-out;
  position: relative;
}
a.hover-line:before, a.hover-line:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 1px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
}
a.hover-line.light:after {
  left: 0;
  background-color: #ffffff;
}
a.hover-line.dark:after {
  left: 0;
  background-color: #57BBBF;
}
a.hover-line:hover {
  cursor: pointer;
}
a.hover-line:hover:before, a.hover-line:hover:after {
  width: 100%;
  opacity: 1;
}
